a {
  text-decoration: none;
}

.product {
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
}

.animate {
  animation: arrowAnimation 1s ease-in-out alternate-reverse infinite;
}

@keyframes arrowAnimation {
  to {
    transform: translateY(20px);
  }
}
